{% extends 'layout.html' %}




{% block body %}


<h1 class="text-center">PHYS-500.A09:</h1>
<div class="row justify-content-center">

  {% for i in range(1, 26) %}
  <div class="col-md-7">
    <!-- <img class="card-img-top" src="https://gph.is/2pkUxcJ" alt="Card image cap"> -->
    <div>
      <!-- <h5 class="card-title">CHE-500.A11</h5> -->
      <!-- <iframe width="100%" src="https://www.youtube.com/embed/qXWWgZ-nnEs?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
      <p>
        <h5>general concept:</h5>
        {{test_info[4]['concepts'][i-1]}}
      </p>
      <p>
        <h5>POL:</h5>
        {{test_info[4]['POL'][i-1]}}
      </p>
      <a href="/phys/PHY-500.A09/question {{i}}" class="btn btn-primary btn-block">See item {{i}}</a>
    </div>
  </div>

    <!-- <li><a href="chem/question {{i}}">Question {{i}}</a></li> -->

  {% endfor %}


</div>


{% endblock %}
