<div class="WordSection10">
<table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="border-collapse:collapse;border:none">
<tbody><tr>
<td style="width:6.6in;border:solid gray 1.5pt;
  padding:.05in .05in .05in .05in" valign="top" width="634">
<p class="MsoNormal" style="margin-left:27.0pt;text-align:justify;text-indent:
  -27.0pt"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>18.    </span><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Using a
  calorimeter, 100.0 mL of a 0.50 M sodium hydroxide, NaOH, solution
  was added to neutralize 50.0 mL of a 0.50 M sulphuric acid, <span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image048.png" width="48"/></span> solution.</span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal" style="margin-left:27.0pt"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>The reaction was
  observed and the following temperatures were recorded:</span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal" style="margin-left:27.0pt"><i><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>T</span></i><sub><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>i</span></sub><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> = 21.5 </span><span lang="FR-CA" style="font-size:11.0pt;font-family:Symbol">°</span><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>C (initial
  temperature)</span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal" style="margin-left:27.0pt"><i><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>T</span></i><sub><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>f</span></sub><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> = 26.0 </span><span lang="FR-CA" style="font-size:11.0pt;font-family:Symbol">°</span><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>C ( final
  temperature)</span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal" style="margin-left:27.0pt"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>The chemical equation
  for this neutralization reaction is the following:</span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p align="center" class="MsoNormal" style="text-align:center"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'><span style="position:relative;top:7.0pt"><img height="24" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image049.png" width="149"/></span> <span style="color:
  black;position:relative;top:3.0pt"><img alt="::Desktop:equib-double-arrow.GIF" height="16" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image050.png" width="25"/></span> <span style="position:
  relative;top:7.0pt"><img height="28" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image051.png" width="195"/></span></span></p>
</td>
</tr>
<tr>
<td style="width:6.6in;border:solid gray 1.5pt;
  border-top:none;padding:.05in .05in .05in .05in" valign="top" width="634">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>What
  is the molar heat of neutralization for NaOH?</span></p>
<p class="MsoNormal" style="text-align:justify"><i><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Show all your work.
  Assume that the aqueous solutions have the same density and specific heat as
  water. Assume no heat loss.</span></i></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>The
  molar heat of neutralization for NaOH is ______________________.</span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="border-collapse:collapse">
<tbody><tr>
<td style="width:297.0pt;padding:0in 3.5pt 0in 3.5pt" valign="top" width="396">
<p class="MsoNormal"><span lang="EN-CA" style='font-family:"Arial",sans-serif'> </span></p>
</td>
<td style="width:26.25pt;border:none;border-right:solid #333333 1.5pt;
    padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p class="MsoNormal"><span lang="EN-CA" style='font-family:"Arial",sans-serif'> </span></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>4</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>3</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>2</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>1</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>0</span></b></p>
</td>
</tr>
</tbody></table>
</div>
<p class="MsoNormal"></p>
</td>
</tr>
</tbody></table>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
</div>
