<div class="WordSection11">
<table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="border-collapse:collapse;border:none">
<tbody><tr>
<td style="width:6.6in;border:solid gray 1.5pt;
  padding:.05in .05in .05in .05in" valign="top" width="634">
<p class="MsoNormal" style="margin-left:27.0pt;text-indent:-27.0pt"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>19.    Ethanol</span><span style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>, </span><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'><span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image052.png" width="80"/></span></span><span style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>, is
  oxidized in the liver to acetaldehyde, </span><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'><span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image053.png" width="64"/></span></span><span style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>.</span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;
  color:black'> </span></p>
<p class="MsoNormal" style="margin-left:27.0pt;text-align:justify"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>The</span><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>
</span><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'><span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image053.png" width="64"/></span></span><span style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'> produced
  from </span><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'><span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image054.png" width="80"/></span></span><span style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>metabolism
  can result in alcohol-induced<i> </i>hepatitis, a condition in which the
  liver is inflamed and cells die. The medical condition is called cirrhosis of
  the liver.</span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;
  color:black'> </span></p>
<p class="MsoNormal" style="margin-left:27.0pt"><span style='font-size:11.0pt;
  font-family:"Arial",sans-serif;color:black'>The</span><span style='font-size:
  11.0pt;font-family:"Arial",sans-serif;color:black'> balanced chemical
  equation for this reaction is:</span></p>
<p class="MsoNormal" style="text-autospace:none"><span style='font-size:11.0pt;
  font-family:"Arial",sans-serif;color:black'> </span></p>
<p align="center" class="MsoNormal" style="text-align:center;text-autospace:none"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'><span style="position:relative;top:7.0pt"><img height="24" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image055.png" width="312"/></span></span><span style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>       </span><span style="font-size:11.0pt;font-family:Symbol;color:black">D</span><i><span style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>H</span></i><span style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'> = </span><span style="font-size:11.0pt;font-family:Symbol;color:black">-</span><span style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>
  370 kJ</span></p>
<p class="MsoNormal" style="text-autospace:none"><span style='font-size:11.0pt;
  font-family:"Arial",sans-serif;color:black'> </span></p>
<p class="MsoNormal" style="text-autospace:none"><b><span style='font-size:
  11.0pt;font-family:"Arial",sans-serif;color:black'>                            Structure
  of Ethanol                 Structure of Acetaldehyde</span></b></p>
<p class="MsoNormal" style="text-autospace:none"><span style='font-size:11.0pt;
  font-family:"Arial",sans-serif;color:black'> </span></p>
<p class="MsoNormal" style="text-autospace:none"><span lang="EN-CA">                          </span><span lang="FR-CA"><img height="65" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image056.png" width="105"/>                            <img height="64" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image057.png" width="71"/></span></p>
<p class="MsoNormal" style="text-autospace:none"><u><span lang="FR-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'><span style="text-decoration:none"> </span></span></u></p>
<p align="center" class="MsoNormal" style="text-align:center;text-autospace:none"><b><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Average
  enthalpy associated with breaking of certain bonds in kJ/mol</span></b></p>
<div align="center">
<table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="border-collapse:collapse;border:none">
<tbody><tr>
<td style="width:105.35pt;border:solid gray 1.5pt;
    padding:0in 6.0pt 0in 6.0pt" valign="top" width="183">
<p class="MsoNormal" style="margin-left:67.5pt;text-indent:-67.5pt"><span lang="PT" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>H
    </span><span lang="FR-CA" style="font-size:11.0pt;font-family:Symbol">-</span><span lang="PT" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>
    H             436</span></p>
<p class="MsoNormal" style="margin-left:67.5pt;text-indent:-67.5pt"><span lang="PT" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>C
    </span><span lang="FR-CA" style="font-size:11.0pt;font-family:Symbol">-</span><span lang="FR-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span><span lang="PT" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>H             413</span></p>
<p class="MsoNormal" style="margin-left:67.5pt;text-indent:-67.5pt"><span lang="PT" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>O
    </span><span lang="FR-CA" style="font-size:11.0pt;font-family:Symbol">-</span><span lang="PT" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>
    H             460</span></p>
</td>
<td style="width:105.4pt;border:solid gray 1.5pt;
    border-left:none;padding:0in 6.0pt 0in 6.0pt" valign="top" width="183">
<p class="MsoNormal" style="margin-left:67.5pt;text-indent:-67.5pt"><span lang="PT" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>C
    </span><span lang="FR-CA" style="font-size:11.0pt;font-family:Symbol">-</span><span lang="PT" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>
    O             358</span></p>
<p class="MsoNormal" style="margin-left:67.5pt;text-indent:-67.5pt"><span lang="PT" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>C
    </span><span lang="FR-CA" style="font-size:11.0pt;font-family:Symbol">-</span><span lang="PT" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>
    C             347</span></p>
<p class="MsoNormal" style="margin-left:67.5pt;text-indent:-67.5pt"><span lang="PT" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'> </span></p>
</td>
<td style="width:105.4pt;border:solid gray 1.5pt;
    border-left:none;padding:0in 6.0pt 0in 6.0pt" valign="top" width="141">
<p class="MsoNormal" style="margin-left:73.8pt;text-indent:-73.8pt"><span lang="FR-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;
    color:black'>C = O            745</span></p>
<p class="MsoNormal" style="margin-left:67.5pt;text-indent:-67.5pt"><span lang="FR-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;
    color:black'>O = O              ?</span></p>
</td>
</tr>
</tbody></table>
</div>
<p class="MsoHeader"></p>
</td>
</tr>
<tr>
<td style="width:6.6in;border:solid gray 1.5pt;
  border-top:none;padding:.05in .05in .05in .05in" valign="top" width="634">
<p class="MsoNormal" style="text-autospace:none"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>What is
  the enthalpy of the O = O bond in </span><span style='font-size:
  11.0pt;font-family:"Arial",sans-serif;color:black'>oxygen</span><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>?</span></p>
<p class="MsoNormal" style="text-autospace:none"><i><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>Show all
  your work.</span></i></p>
<p class="MsoNormal" style="text-autospace:none"><u><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'><span style="text-decoration:none"> </span></span></u></p>
<table align="left" border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:460.45pt;border-collapse:collapse;border:none;
   margin-left:6.75pt;margin-right:6.75pt" width="0">
<tbody><tr style="height:12.7pt">
<td style="width:148.6pt;border:solid black 1.5pt;
    padding:0in 5.4pt 0in 5.4pt;height:12.7pt" valign="top" width="198">
<p align="center" class="MsoNormal" style="text-align:center;text-autospace:
    none"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;
    color:black'>Ethanol</span></p>
</td>
<td style="width:77.95pt;border:solid black 1.5pt;
    border-left:none;padding:0in 5.4pt 0in 5.4pt;height:12.7pt" valign="top" width="104">
<p align="center" class="MsoNormal" style="text-align:center;text-autospace:
    none"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;
    color:black'>Oxygen</span></p>
<p align="center" class="MsoNormal" style="text-align:center;text-autospace:
    none"><u><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;
    color:black'><span style="text-decoration:none"> </span></span></u></p>
</td>
<td style="width:134.7pt;border:solid black 1.5pt;
    border-left:none;padding:0in 5.4pt 0in 5.4pt;height:12.7pt" valign="top" width="180">
<p align="center" class="MsoNormal" style="text-align:center;text-autospace:
    none"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;
    color:black'>Acetaldehyde</span></p>
</td>
<td style="width:99.2pt;border:solid black 1.5pt;
    border-left:none;padding:0in 5.4pt 0in 5.4pt;height:12.7pt" valign="top" width="132">
<p align="center" class="MsoNormal" style="text-align:center;text-autospace:
    none"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;
    color:black'>Water</span></p>
</td>
</tr>
<tr>
<td style="width:148.6pt;border:solid black 1.5pt;
    border-top:none;padding:0in 5.4pt 0in 5.4pt" valign="top" width="198">
<p class="MsoNormal" style="text-autospace:none"><u><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'><span style="text-decoration:none"> </span></span></u></p>
<p class="MsoNormal" style="text-autospace:none"><u><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'><span style="text-decoration:none"> </span></span></u></p>
<p class="MsoNormal" style="text-autospace:none"><u><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'><span style="text-decoration:none"> </span></span></u></p>
<p class="MsoNormal" style="text-autospace:none"><u><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'><span style="text-decoration:none"> </span></span></u></p>
<p class="MsoNormal" style="text-autospace:none"><u><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'><span style="text-decoration:none"> </span></span></u></p>
<p class="MsoNormal" style="text-autospace:none"><u><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'><span style="text-decoration:none"> </span></span></u></p>
<p class="MsoNormal" style="text-autospace:none"><u><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'><span style="text-decoration:none"> </span></span></u></p>
<p class="MsoNormal" style="text-autospace:none"><u><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'><span style="text-decoration:none"> </span></span></u></p>
<p class="MsoNormal" style="text-autospace:none"><u><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'><span style="text-decoration:none"> </span></span></u></p>
<p class="MsoNormal" style="text-autospace:none"><u><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'><span style="text-decoration:none"> </span></span></u></p>
</td>
<td style="width:77.95pt;border-top:none;border-left:
    none;border-bottom:solid black 1.5pt;border-right:solid black 1.5pt;
    padding:0in 5.4pt 0in 5.4pt" valign="top" width="104">
<p class="MsoNormal" style="text-autospace:none"><u><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'><span style="text-decoration:none"> </span></span></u></p>
</td>
<td style="width:134.7pt;border-top:none;border-left:
    none;border-bottom:solid black 1.5pt;border-right:solid black 1.5pt;
    padding:0in 5.4pt 0in 5.4pt" valign="top" width="180">
<p class="MsoNormal" style="text-autospace:none"><u><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'><span style="text-decoration:none"> </span></span></u></p>
</td>
<td style="width:99.2pt;border-top:none;border-left:
    none;border-bottom:solid black 1.5pt;border-right:solid black 1.5pt;
    padding:0in 5.4pt 0in 5.4pt" valign="top" width="132">
<p class="MsoNormal" style="text-autospace:none"><u><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'><span style="text-decoration:none"> </span></span></u></p>
</td>
</tr>
</tbody></table>
<p class="MsoNormal"><span lang="EN-CA" style='font-family:"Arial",sans-serif;
  color:black'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-family:"Arial",sans-serif;
  color:black'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-family:"Arial",sans-serif;
  color:black'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-family:"Arial",sans-serif;
  color:black'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-family:"Arial",sans-serif;
  color:black'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-family:"Arial",sans-serif;
  color:black'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-family:"Arial",sans-serif;
  color:black'>T</span><span lang="EN-CA" style='font-size:11.0pt;font-family:
  "Arial",sans-serif;color:black'>he enthalpy of the O = O bond in </span><span style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>oxygen is</span><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:black'>
  _______________.</span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;
  color:black'> </span></p>
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="border-collapse:collapse">
<tbody><tr>
<td style="width:297.0pt;padding:0in 3.5pt 0in 3.5pt" valign="top" width="396">
<p class="MsoHeader"><span lang="EN-CA" style='font-family:"Arial",sans-serif;
    color:black'> </span></p>
</td>
<td style="width:26.25pt;border:none;border-right:solid #333333 1.5pt;
    padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p class="MsoNormal"><span lang="EN-CA" style='font-family:"Arial",sans-serif;
    color:black'> </span></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif;color:black'>4</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif;color:black'>3</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif;color:black'>2</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif;color:black'>1</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif;color:black'>0</span></b></p>
</td>
</tr>
</tbody></table>
</div>
<p class="MsoNormal"></p>
</td>
</tr>
</tbody></table>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
</div>
