<div class="WordSection8">
<table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="border-collapse:collapse;border:none">
<tbody><tr>
<td style="width:6.6in;border:solid gray 1.5pt;
  padding:.05in .05in .05in .05in" valign="top" width="634">
<p class="MsoNormal" style="margin-left:27.0pt;text-align:justify;text-indent:
  -27.0pt"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>16.    </span><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Aluminum
  chloride, <span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image028.png" width="37"/></span>, is widely used as a
  catalyst in chemical industries. It is produced by the reaction of aluminum,
  Al, with chlorine gas, <span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image029.png" width="24"/></span>, as shown
  below.</span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p align="center" class="MsoNormal" style="text-align:center"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'><span style="position:relative;top:7.0pt"><img height="24" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image030.png" width="181"/></span></span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal" style="margin-left:27.0pt"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>The following is a
  list of thermochemical equations:</span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal" style="margin-left:81.0pt"><b><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Reactions                                                                                               </span></b><b><span lang="FR-CA" style="font-size:11.0pt;font-family:Symbol">D</span></b><b><i><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>H</span></i></b></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="margin-left:26.75pt;border-collapse:collapse">
<tbody><tr>
<td style="width:81.0pt;padding:.05in 3.5pt .05in 3.5pt" valign="top" width="108">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:
    "Arial",sans-serif'>Equation 1:</span></p>
</td>
<td style="width:40.5pt;padding:.05in 3.5pt .05in 3.5pt" width="54">
<p align="center" class="MsoNormal" style="text-align:center"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'><span style="position:relative;top:7.0pt"><img height="24" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image031.png" width="41"/></span></span></p>
</td>
<td style="width:13.5pt;padding:.05in 3.5pt .05in 3.5pt" width="18">
<p align="center" class="MsoNormal" style="text-align:center"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>+</span></p>
</td>
<td style="width:58.5pt;padding:.05in 3.5pt .05in 3.5pt" width="78">
<p align="center" class="MsoNormal" style="text-align:center"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'><span style="position:relative;top:7.0pt"><img height="24" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image032.png" width="57"/></span></span></p>
</td>
<td style="width:31.5pt;padding:.05in 3.5pt .05in 3.5pt" width="42">
<p align="center" class="MsoNormal" style="text-align:center"><span lang="FR-CA" style="font-size:11.0pt;font-family:Symbol">®</span></p>
</td>
<td style="width:148.75pt;padding:.05in 3.5pt .05in 3.5pt" width="198">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:
    "Arial",sans-serif'><span style="position:relative;top:7.0pt"><img height="24" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image033.png" width="124"/></span></span></p>
</td>
<td style="width:66.75pt;padding:.05in 3.5pt .05in 3.5pt" width="89">
<p class="MsoNormal"><span lang="FR-CA" style="font-size:11.0pt;font-family:
    Symbol">-</span><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>1049 kJ</span></p>
</td>
</tr>
<tr>
<td style="width:81.0pt;padding:.05in 3.5pt .05in 3.5pt" valign="top" width="108">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:
    "Arial",sans-serif'>Equation 2:</span></p>
</td>
<td style="width:40.5pt;padding:.05in 3.5pt .05in 3.5pt" width="54">
<p align="center" class="MsoNormal" style="text-align:center"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
</td>
<td style="width:13.5pt;padding:.05in 3.5pt .05in 3.5pt" width="18">
<p align="center" class="MsoNormal" style="text-align:center"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
</td>
<td style="width:58.5pt;padding:.05in 3.5pt .05in 3.5pt" width="78">
<p align="center" class="MsoNormal" style="text-align:center"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'><span style="position:relative;top:7.0pt"><img height="24" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image034.png" width="40"/></span></span></p>
</td>
<td style="width:31.5pt;padding:.05in 3.5pt .05in 3.5pt" width="42">
<p align="center" class="MsoNormal" style="text-align:center"><span lang="FR-CA" style="font-size:11.0pt;font-family:Symbol">®</span></p>
</td>
<td style="width:148.75pt;padding:.05in 3.5pt .05in 3.5pt" width="198">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:
    "Arial",sans-serif'><span style="position:relative;top:7.0pt"><img height="24" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image035.png" width="45"/></span></span></p>
</td>
<td style="width:66.75pt;padding:.05in 3.5pt .05in 3.5pt" width="89">
<p class="MsoNormal"><span lang="FR-CA" style="font-size:11.0pt;font-family:
    Symbol">-</span><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>74.8 kJ</span></p>
</td>
</tr>
<tr>
<td style="width:81.0pt;padding:.05in 3.5pt .05in 3.5pt" valign="top" width="108">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:
    "Arial",sans-serif'>Equation 3:</span></p>
</td>
<td style="width:40.5pt;padding:.05in 3.5pt .05in 3.5pt" width="54">
<p align="center" class="MsoNormal" style="text-align:center"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'><span style="position:relative;top:7.0pt"><img height="24" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image036.png" width="33"/></span></span></p>
</td>
<td style="width:13.5pt;padding:.05in 3.5pt .05in 3.5pt" width="18">
<p align="center" class="MsoNormal" style="text-align:center"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>+</span></p>
</td>
<td style="width:58.5pt;padding:.05in 3.5pt .05in 3.5pt" width="78">
<p align="center" class="MsoNormal" style="text-align:center"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'><span style="position:relative;top:7.0pt"><img height="24" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image037.png" width="37"/></span></span></p>
</td>
<td style="width:31.5pt;padding:.05in 3.5pt .05in 3.5pt" width="42">
<p align="center" class="MsoNormal" style="text-align:center"><span lang="FR-CA" style="font-size:11.0pt;font-family:Symbol">®</span></p>
</td>
<td style="width:148.75pt;padding:.05in 3.5pt .05in 3.5pt" width="198">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:
    "Arial",sans-serif'><span style="position:relative;top:7.0pt"><img height="24" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image038.png" width="52"/></span></span></p>
</td>
<td style="width:66.75pt;padding:.05in 3.5pt .05in 3.5pt" width="89">
<p class="MsoNormal"><span lang="FR-CA" style="font-size:11.0pt;font-family:
    Symbol">-</span><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>1845 kJ</span></p>
</td>
</tr>
<tr>
<td style="width:81.0pt;padding:.05in 3.5pt .05in 3.5pt" valign="top" width="108">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:
    "Arial",sans-serif'>Equation 4:</span></p>
</td>
<td style="width:40.5pt;padding:.05in 3.5pt .05in 3.5pt" width="54">
<p align="center" class="MsoNormal" style="text-align:center"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
</td>
<td style="width:13.5pt;padding:.05in 3.5pt .05in 3.5pt" width="18">
<p align="center" class="MsoNormal" style="text-align:center"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
</td>
<td style="width:58.5pt;padding:.05in 3.5pt .05in 3.5pt" width="78">
<p align="center" class="MsoNormal" style="text-align:center"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'><span style="position:relative;top:7.0pt"><img height="24" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image039.png" width="51"/></span></span></p>
</td>
<td style="width:31.5pt;padding:.05in 3.5pt .05in 3.5pt" width="42">
<p align="center" class="MsoNormal" style="text-align:center"><span lang="FR-CA" style="font-size:11.0pt;font-family:Symbol">®</span></p>
</td>
<td style="width:148.75pt;padding:.05in 3.5pt .05in 3.5pt" width="198">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:
    "Arial",sans-serif'><span style="position:relative;top:7.0pt"><img height="24" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image040.png" width="56"/></span></span></p>
</td>
<td style="width:66.75pt;padding:.05in 3.5pt .05in 3.5pt" width="89">
<p class="MsoNormal"><span lang="FR-CA" style="font-size:11.0pt;font-family:
    Symbol">-</span><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>323 kJ</span></p>
</td>
</tr>
</tbody></table>
<p class="MsoNormal"></p>
</td>
</tr>
<tr>
<td style="width:6.6in;border-top:none;border-left:solid gray 1.5pt;
  border-bottom:solid #999999 1.5pt;border-right:solid gray 1.5pt;padding:.05in .05in .05in .05in" valign="top" width="634">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Determine
  the heat of reaction<sub> </sub>for: <span style="position:relative;
  top:7.0pt"><img height="24" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image041.png" width="181"/></span>.</span></p>
<p class="MsoNormal"><i><span lang="EN-CA" style='font-size:11.0pt;font-family:
  "Arial",sans-serif'>Show all your work.</span></i></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>The
  heat of reaction<sub> </sub>for: <span style="position:relative;top:7.0pt"><img height="24" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image042.png" width="181"/></span> is
  ________________________.</span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="border-collapse:collapse">
<tbody><tr>
<td style="width:297.0pt;padding:0in 3.5pt 0in 3.5pt" valign="top" width="396">
<p class="MsoNormal"><span lang="EN-CA" style='font-family:"Arial",sans-serif'> </span></p>
</td>
<td style="width:26.25pt;border:none;border-right:solid #333333 1.5pt;
    padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p class="MsoNormal"><span lang="EN-CA" style='font-family:"Arial",sans-serif'> </span></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>4</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>3</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>2</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>1</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>0</span></b></p>
</td>
</tr>
</tbody></table>
</div>
<p class="MsoNormal"></p>
</td>
</tr>
</tbody></table>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
</div>
