<div class="WordSection3">
<div align="center">
<table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:463.7pt;border-collapse:collapse;border:none" width="0">
<tbody><tr style="page-break-inside:avoid">
<td style="width:463.7pt;border:solid #333399 3.0pt;
  padding:.1in .1in .1in .1in" valign="top" width="618">
<h4><span lang="EN-CA" style='font-family:"Arial",sans-serif'>Part B</span></h4>
<h4 style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:
  0in"><span lang="EN-CA" style='font-family:"Arial",sans-serif'>Constructed-Response
  Questions 11 to 25</span></h4>
<p class="MsoBodyText" style="margin-right:6.85pt"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Show all the work
  needed to solve the problem</span></p>
<p class="MsoBodyText" style="margin-right:6.85pt"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>You will be given no
  marks if you provide the right answer without showing your work.<br/>
  However, you will be given part marks for work that is partially correct.</span></p>
<p align="center" class="MsoNormal" style="margin-top:3.0pt;margin-right:.1in;
  margin-bottom:3.0pt;margin-left:0in;text-align:center"><b><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Significant figures
  will be evaluated in question 13 only.</span></b></p>
</td>
</tr>
</tbody></table>
</div>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="border-collapse:collapse;border:none">
<tbody><tr>
<td style="width:6.6in;border:solid gray 1.5pt;
  padding:.05in .05in .05in .05in" valign="top" width="634">
<p class="MsoNormal" style="margin-left:27.0pt;text-align:justify;text-indent:
  -27.0pt"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>11.    Natural
  gas is a highly flammable fossil fuel composed primarily of methane, <span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image006.png" width="32"/></span>.</span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:6.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal" style="margin-left:27.0pt;text-align:justify"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Since <span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image006.png" width="32"/></span> is colourless and odourless,
  a potentially dangerous leak may not be detected by humans. As a safety
  measure, a small amount of odorant gas with a strong smell, is added so that a
  leak is easier to detect.</span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:6.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal" style="margin-left:27.0pt;text-align:justify"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>The table
  below lists three organic gases which are often used as odorants because
  their strong smell is easily detected by humans, even at very low
  concentrations.</span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:6.0pt;font-family:"Arial",sans-serif'> </span></p>
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Organic
  Gases</span></b></p>
<table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="margin-left:75.35pt;border-collapse:collapse;border:none">
<tbody><tr>
<td style="width:159.6pt;border:solid gray 1.5pt;
    padding:0in 5.75pt 0in 5.75pt" valign="top" width="213">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Odorant
    Gas</span></b></p>
</td>
<td style="width:159.6pt;border:solid gray 1.5pt;
    border-left:none;padding:0in 5.75pt 0in 5.75pt" valign="top" width="213">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Formula</span></b></p>
</td>
</tr>
<tr>
<td style="width:159.6pt;border:solid gray 1.5pt;border-top:none;
    padding:0in 5.75pt 0in 5.75pt" width="213">
<p align="center" class="MsoNormal" style="text-align:center"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Ethyl mercaptan</span></p>
</td>
<td style="width:159.6pt;border-top:none;border-left:
    none;border-bottom:solid gray 1.5pt;border-right:solid gray 1.5pt;
    padding:0in 5.75pt 0in 5.75pt" valign="top" width="213">
<p align="center" class="MsoNormal" style="text-align:center"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'><span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image007.png" width="47"/></span></span></p>
</td>
</tr>
<tr>
<td style="width:159.6pt;border:solid gray 1.5pt;border-top:none;
    padding:0in 5.75pt 0in 5.75pt" width="213">
<p align="center" class="MsoNormal" style="text-align:center"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Methyl mercaptan</span></p>
</td>
<td style="width:159.6pt;border-top:none;border-left:
    none;border-bottom:solid gray 1.5pt;border-right:solid gray 1.5pt;
    padding:0in 5.75pt 0in 5.75pt" valign="top" width="213">
<p align="center" class="MsoNormal" style="text-align:center"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'><span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image008.png" width="51"/></span></span></p>
</td>
</tr>
<tr>
<td style="width:159.6pt;border:solid gray 1.5pt;border-top:none;
    padding:0in 5.75pt 0in 5.75pt" width="213">
<p align="center" class="MsoNormal" style="text-align:center"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Tetrahydrothiophene</span></p>
</td>
<td style="width:159.6pt;border-top:none;border-left:
    none;border-bottom:solid gray 1.5pt;border-right:solid gray 1.5pt;
    padding:0in 5.75pt 0in 5.75pt" valign="top" width="213">
<p align="center" class="MsoNormal" style="text-align:center"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'><span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image009.png" width="47"/></span></span></p>
</td>
</tr>
</tbody></table>
<p class="MsoNormal" style="margin-left:27.0pt;text-align:justify;text-indent:
  -27.0pt"></p>
</td>
</tr>
<tr>
<td style="width:6.6in;border:solid gray 1.5pt;
  border-top:none;padding:.05in .05in .05in .05in" valign="top" width="634">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Which
  of the three odorant gases listed above is the best choice to be mixed with
  natural gas so that any leak of natural gas will be detected as soon as
  possible?</span></p>
<p class="MsoNormal"><i><span lang="EN-CA" style='font-size:11.0pt;font-family:
  "Arial",sans-serif'>Show calculations to support your answer.</span></i></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:6.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>The
  best gas to use as an odorant gas is _________________________________.</span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Explain
  your answer.</span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:6.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><u><span lang="EN-CA" style='font-size:11.0pt;font-family:
  "Arial",sans-serif'>                                                                                                                                                           </span></u></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:6.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><u><span lang="EN-CA" style='font-size:11.0pt;font-family:
  "Arial",sans-serif'>                                                                                                                                                           </span></u></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:6.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><u><span lang="EN-CA" style='font-size:11.0pt;font-family:
  "Arial",sans-serif'>                                                                                                                                                           </span></u></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:6.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><u><span lang="EN-CA" style='font-size:11.0pt;font-family:
  "Arial",sans-serif'>                                                                                                                                                           </span></u></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:6.0pt;font-family:"Arial",sans-serif'> </span></p>
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="border-collapse:collapse">
<tbody><tr>
<td style="width:297.0pt;padding:0in 3.5pt 0in 3.5pt" valign="top" width="396">
<p class="MsoHeader"><span lang="EN-CA" style='font-family:"Arial",sans-serif'> </span></p>
</td>
<td style="width:26.25pt;border:none;border-right:solid #333333 1.5pt;
    padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p class="MsoNormal"><span lang="EN-CA" style='font-family:"Arial",sans-serif'> </span></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>4</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>3</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>2</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>1</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>0</span></b></p>
</td>
</tr>
</tbody></table>
</div>
<p class="MsoNormal"></p>
</td>
</tr>
</tbody></table>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
</div>
