<div class="WordSection7">
<table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="border-collapse:collapse;border:none">
<tbody><tr>
<td style="width:6.6in;border:solid gray 1.5pt;
  padding:.05in .05in .05in .05in" valign="top" width="634">
<p class="MsoNormal" style="margin-left:27.0pt;text-align:justify;text-indent:
  -27.0pt"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>15.    Hydrogen
  peroxide, <span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image016.png" width="37"/></span>, is an unstable compound. It
  decomposes to produce water, <span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image017.png" width="32"/></span>,<sub> </sub>and
  oxygen, <span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image018.png" width="21"/></span>. The activation energy for
  this reaction is 37.7 kJ/mol.</span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal" style="margin-left:27.0pt;text-align:justify"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>The
  reaction is shown below:</span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p align="center" class="MsoNormal" style="text-align:center"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'><span style="position:relative;top:7.0pt"><img height="24" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image019.png" width="168"/></span></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal" style="margin-left:27.0pt;text-align:justify"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>The
  potential energy of <span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image020.png" width="32"/></span><sub> </sub>and <span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image021.png" width="37"/></span> is 100.0 kJ. The
  potential energy of <span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image022.png" width="37"/></span><br/>
  is 198.0 kJ.</span></p>
</td>
</tr>
<tr>
<td style="width:6.6in;border-top:none;border-left:solid gray 1.5pt;
  border-bottom:solid gray 1.0pt;border-right:solid gray 1.5pt;padding:.05in .05in .05in .05in" valign="top" width="634">
<p class="MsoNormal" style="margin-left:27.0pt;text-align:justify;text-indent:
  -27.0pt"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>a)      Draw
  a complete energy diagram for the <b>SYNTHESIS</b> of <span style="position:
  relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image016.png" width="37"/></span>.</span></p>
<p class="MsoNormal" style="margin-left:27.0pt;text-align:justify"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Label the
  heat of reaction, </span><span lang="FR-CA" style="font-size:11.0pt;font-family:
  Symbol">D</span><i><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>H</span></i><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>, and the
  activation energy, <span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image023.png" width="20"/></span>, for this
  synthesis reaction.</span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Energy
  Diagram for Synthesis of </span></b><span lang="EN-CA" style='font-size:11.0pt;
  font-family:"Arial",sans-serif'><span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image024.png" width="37"/></span></span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p align="center" class="MsoNormal" style="text-align:center"><span lang="FR-CA"><img height="249" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image025.png" width="470"/></span></p>
<p class="Textedebulles1"><span lang="EN-CA" style='font-family:"Arial",sans-serif'> </span></p>
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="border-collapse:collapse">
<tbody><tr>
<td style="width:297.0pt;padding:0in 3.5pt 0in 3.5pt" valign="top" width="396">
<p class="MsoNormal"><span lang="EN-CA" style='font-family:"Arial",sans-serif'> </span></p>
</td>
<td style="width:26.25pt;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:
    "Arial",sans-serif'> </span></p>
</td>
<td style="width:26.25pt;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:
    "Arial",sans-serif'> </span></p>
</td>
<td style="width:26.25pt;border:none;border-right:solid #333333 1.5pt;
    padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:
    "Arial",sans-serif'> </span></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>2</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>1</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>0</span></b></p>
</td>
</tr>
</tbody></table>
</div>
<p class="MsoNormal"></p>
</td>
</tr>
<tr>
<td style="width:6.6in;border-top:none;border-left:solid gray 1.5pt;
  border-bottom:solid #999999 1.5pt;border-right:solid gray 1.5pt;padding:.05in .05in .05in .05in" valign="top" width="634">
<p class="MsoNormal" style="margin-left:27.0pt;text-align:justify;text-indent:
  -27.0pt"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>b)      Determine
  the value of </span><span lang="FR-CA" style="font-size:11.0pt;font-family:
  Symbol">D</span><i><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>H</span></i><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> and <span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image023.png" width="20"/></span> for the <b>SYNTHESIS</b> of <span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image026.png" width="37"/></span><sub>.</sub></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal" style="margin-left:27.0pt"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>The value of </span><span lang="FR-CA" style="font-size:11.0pt;font-family:Symbol">D</span><i><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>H</span></i><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> is
  __________ and the <i>E</i><sub>a</sub> is ___________ for the synthesis of <span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image027.png" width="37"/></span></span><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>.</span></p>
<p class="Textedebulles1"><span lang="EN-CA" style='font-family:"Arial",sans-serif'> </span></p>
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="border-collapse:collapse">
<tbody><tr>
<td style="width:297.0pt;padding:0in 3.5pt 0in 3.5pt" valign="top" width="396">
<p class="MsoNormal"><span lang="EN-CA" style='font-family:"Arial",sans-serif'> </span></p>
</td>
<td style="width:26.25pt;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:
    "Arial",sans-serif'> </span></p>
</td>
<td style="width:26.25pt;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:
    "Arial",sans-serif'> </span></p>
</td>
<td style="width:26.25pt;border:none;border-right:solid #333333 1.5pt;
    padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:
    "Arial",sans-serif'> </span></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>2</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>1</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>0</span></b></p>
</td>
</tr>
</tbody></table>
</div>
<p class="MsoNormal"></p>
</td>
</tr>
</tbody></table>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
</div>
