<div class="WordSection15">
<table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="border-collapse:collapse;border:none">
<tbody><tr>
<td style="width:6.6in;border:solid gray 1.5pt;
  padding:.05in .05in .05in .05in" valign="top" width="634">
<p class="MsoNormal" style="margin-left:27.0pt;text-align:justify;text-indent:
  -27.0pt"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>23.    </span><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif;color:#262626'>When</span><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> crude oil
  and natural gas are processed, hydrogen sulfide, <span style="position:relative;
  top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image078.png" width="31"/></span>,
  is produced.</span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal" style="margin-left:27.0pt;text-align:justify"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Since
  sulphur, S, is widely used in manufacturing sulphuric acid, <span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image079.png" width="48"/></span>, in order to make
  fertilizers, batteries and many other chemicals, recovering S from <span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image078.png" width="31"/></span> is an important industrial
  process.</span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal" style="margin-left:27.0pt;text-align:justify"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Companies
  use the Claus process and favourable conditions to maximize the production
  of S.</span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal" style="margin-left:27.0pt;text-align:justify"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>The
  overall reaction for the Claus process, shown below, is <b>exothermic</b>.
  The oxygen, <span style="position:relative;top:5.0pt"><img height="21" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image080.png" width="21"/></span>, used in this
  reaction is found naturally in air.</span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p align="center" class="MsoNormal" style="text-align:center"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'><span style="position:relative;top:7.0pt"><img height="24" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image081.png" width="101"/></span> <span style="position:
  relative;top:3.0pt"><img alt="::Desktop:equib-double-arrow.GIF" height="16" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image075.png" width="25"/></span> <span style="position:
  relative;top:7.0pt"><img height="24" src="{{ url_for('static', filename='chem-phys/CHE-500.A09/Student_Booklet_files/') }}image082.png" width="105"/></span></span></p>
</td>
</tr>
<tr>
<td style="width:6.6in;border:solid gray 1.5pt;
  border-top:none;padding:.05in .05in .05in .05in" valign="top" width="634">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Would
  the following modifications favor the maximization of the production of S?</span></p>
<p class="MsoNormal"><span lang="FR-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Explain
  your answer.</span></p>
<p class="MsoNormal"><span lang="FR-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<div align="center">
<table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:449.75pt;border-collapse:collapse;border:none" width="0">
<tbody><tr style="height:27.9pt">
<td style="width:131.05pt;border:solid black 1.5pt;padding:0in 5.4pt 0in 5.4pt;
    height:27.9pt" width="175">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="FR-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Modification</span></b></p>
</td>
<td style="width:87.15pt;border:solid black 1.5pt;border-left:
    none;padding:0in 5.4pt 0in 5.4pt;height:27.9pt" width="116">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Would<br/>
    production of<br/>
    S be favored?<br/>
</span></b><b><span lang="FR-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>(yes
    or no)</span></b></p>
</td>
<td style="width:231.55pt;border:solid black 1.5pt;border-left:
    none;padding:0in 5.4pt 0in 5.4pt;height:27.9pt" width="309">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="FR-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>Explanation</span></b></p>
</td>
</tr>
<tr style="height:38.0pt">
<td style="width:131.05pt;border:solid black 1.5pt;
    border-top:none;padding:0in 5.4pt 0in 5.4pt;height:38.0pt" valign="top" width="175">
<p class="MsoNormal" style="margin-left:26.0pt;text-indent:-26.0pt"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>a)      Removal
    of water vapour</span></p>
</td>
<td style="width:87.15pt;border-top:none;border-left:
    none;border-bottom:solid black 1.5pt;border-right:solid black 1.5pt;
    padding:0in 5.4pt 0in 5.4pt;height:38.0pt" valign="top" width="116">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:
    "Arial",sans-serif'> </span></p>
</td>
<td style="width:231.55pt;border-top:none;border-left:
    none;border-bottom:solid black 1.5pt;border-right:solid black 1.5pt;
    padding:0in 5.4pt 0in 5.4pt;height:38.0pt" valign="top" width="309">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:10.0pt;font-family:
    "Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:10.0pt;font-family:
    "Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:10.0pt;font-family:
    "Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:10.0pt;font-family:
    "Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:10.0pt;font-family:
    "Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:
    "Arial",sans-serif'> </span></p>
</td>
</tr>
<tr style="height:36.75pt">
<td style="width:131.05pt;border:solid black 1.5pt;
    border-top:none;padding:0in 5.4pt 0in 5.4pt;height:36.75pt" valign="top" width="175">
<p class="MsoNormal" style="margin-left:26.0pt;text-indent:-26.0pt"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>b)      Use
    of an oxygen‑rich air supply</span></p>
</td>
<td style="width:87.15pt;border-top:none;border-left:
    none;border-bottom:solid black 1.5pt;border-right:solid black 1.5pt;
    padding:0in 5.4pt 0in 5.4pt;height:36.75pt" valign="top" width="116">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:
    "Arial",sans-serif'> </span></p>
</td>
<td style="width:231.55pt;border-top:none;border-left:
    none;border-bottom:solid black 1.5pt;border-right:solid black 1.5pt;
    padding:0in 5.4pt 0in 5.4pt;height:36.75pt" valign="top" width="309">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:10.0pt;font-family:
    "Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:10.0pt;font-family:
    "Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:10.0pt;font-family:
    "Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:10.0pt;font-family:
    "Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:
    "Arial",sans-serif'> </span></p>
</td>
</tr>
<tr style="height:55.75pt">
<td style="width:131.05pt;border:solid black 1.5pt;
    border-top:none;padding:0in 5.4pt 0in 5.4pt;height:55.75pt" valign="top" width="175">
<p class="MsoNormal" style="margin-left:26.0pt;text-indent:-26.0pt"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>c)      Condensation
    of the S</span></p>
</td>
<td style="width:87.15pt;border-top:none;border-left:
    none;border-bottom:solid black 1.5pt;border-right:solid black 1.5pt;
    padding:0in 5.4pt 0in 5.4pt;height:55.75pt" valign="top" width="116">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:
    "Arial",sans-serif'> </span></p>
</td>
<td style="width:231.55pt;border-top:none;border-left:
    none;border-bottom:solid black 1.5pt;border-right:solid black 1.5pt;
    padding:0in 5.4pt 0in 5.4pt;height:55.75pt" valign="top" width="309">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:10.0pt;font-family:
    "Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:10.0pt;font-family:
    "Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:10.0pt;font-family:
    "Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:10.0pt;font-family:
    "Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:10.0pt;font-family:
    "Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:
    "Arial",sans-serif'> </span></p>
</td>
</tr>
<tr>
<td style="width:131.05pt;border:solid black 1.5pt;
    border-top:none;padding:0in 5.4pt 0in 5.4pt" valign="top" width="175">
<p class="MsoNormal" style="margin-left:26.0pt;text-indent:-26.0pt"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>d)      Increasing
    the temperature at which this reaction occurs</span></p>
</td>
<td style="width:87.15pt;border-top:none;border-left:
    none;border-bottom:solid black 1.5pt;border-right:solid black 1.5pt;
    padding:0in 5.4pt 0in 5.4pt" valign="top" width="116">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:
    "Arial",sans-serif'> </span></p>
</td>
<td style="width:231.55pt;border-top:none;border-left:
    none;border-bottom:solid black 1.5pt;border-right:solid black 1.5pt;
    padding:0in 5.4pt 0in 5.4pt" valign="top" width="309">
<p class="MsoNormal"><span lang="EN-CA" style='font-size:10.0pt;font-family:
    "Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:10.0pt;font-family:
    "Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:10.0pt;font-family:
    "Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:10.0pt;font-family:
    "Arial",sans-serif'> </span></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:
    "Arial",sans-serif'> </span></p>
</td>
</tr>
</tbody></table>
</div>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<p class="MsoNormal" style="margin-left:45.0pt;text-indent:-45.0pt"><b><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>NOTE:   </span></b><i><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'>No marks
  are awarded without an explanation.</span></i></p>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
<div align="center">
<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="border-collapse:collapse">
<tbody><tr>
<td style="width:297.0pt;padding:0in 3.5pt 0in 3.5pt" valign="top" width="396">
<p class="MsoNormal"><span lang="EN-CA" style='font-family:"Arial",sans-serif'> </span></p>
</td>
<td style="width:26.25pt;border:none;border-right:solid #333333 1.5pt;
    padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p class="MsoNormal"><span lang="EN-CA" style='font-family:"Arial",sans-serif'> </span></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>4</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>3</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>2</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>1</span></b></p>
</td>
<td style="width:26.25pt;border:solid #333333 1.5pt;
    border-left:none;padding:0in 3.5pt 0in 3.5pt" valign="top" width="35">
<p align="center" class="MsoNormal" style="text-align:center"><b><span lang="EN-CA" style='font-family:"Arial",sans-serif'>0</span></b></p>
</td>
</tr>
</tbody></table>
</div>
<p class="MsoNormal"></p>
</td>
</tr>
</tbody></table>
<p class="MsoNormal"><span lang="EN-CA" style='font-size:11.0pt;font-family:"Arial",sans-serif'> </span></p>
</div>
